@import "_mixins";

.threes-bot--algorithm {
	position: relative;
	height: 600px;

	.threes-bot--share-btn {
		position: absolute;
		top: 5px;
		right: 0px;
	}

	.threes-bot--report {
		position: absolute;
		top: 48px;
		left: 0px;
	}

	.threes-bot--monitor {
		position: absolute;
		top: 48px;
		right: 0px;
	}
}

@media only screen and (max-width: 900px) {
	.threes-bot--algorithm {
		width: 100%;
		margin-top: 40px;
		height: 1000px;

		.threes-bot--share-btn {
			position: absolute;
			top: -60px;
			right: 30px;
		}

		.threes-bot--report {
			position: relative;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
		}

		.threes-bot--monitor {
			position: relative;
			top: 20px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			padding: 0px;
			height: 400px;
		}
	}
}
