@import "_mixins";

body {
	width: 800px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: lighten(gray, 45%);
	color: #50514F;

	@include bp-small {
		width: 100%;
		margin: 10px 0px 30px 0px;
	}

	a {
		color: #50514F;
		font-weight: bold;
	}
}

#header {
	text-align: right;
	padding: 20px 0 50px 0;

	.threes-bot--title {
		@include text-shadow(1px, 1px, 1px, darken(#F25F5C, 50%));
		font-family: 'Lobster', 'Open Sans', sans-serif;
		font-size: 80px;
		color: #F25F5C;
		margin: 0 0 5px 0;
	}

	.threes-bot--subtitle {
		@include text-shadow(1px, 1px, 0px, white);
		text-align: right;
		font-size: 12px;
		width: 260px;
		display: inline-block;
		color: lighten(#50514F, 10%);
	}
}

#content {

}

#footer {
	text-align: center;
	font-size: 11px;
	margin-top: 50px;
}
