@import "_mixins";

.threes-bot--home {
	position: relative;
	height: 600px;

	.threes-bot--share-btn {
		position: absolute;
		top: 5px;
		right: 0px;
	}

	.threes-bot--bot {
		@include no-select;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 300px;
		height: 500px;

		> * {
			z-index: 2;
		}
	}

	.threes-bot--bot-body {
		position: absolute;
		top: -200px;
		left: -20px;
		z-index: 1;
	}

	.threes-bot--board {
		@include border-radius(10px);
		background: #D0E6DF;
		display: inline-block;
		padding: 5px;
		position: absolute;
		top: 75px;
		left: 25px;
	}

	.threes-bot--board-row {

	}

	.threes-bot--board-tile {
		@include no-select;
		@include border-radius(10px);
		width: 50px;
		background: #B6D9D9;
		color: #B6D9D9;
		display: inline-block;
		margin: 5px;
		font-family: "Nunito", sans-serif;
		font-size: 26px;
		text-align: center;
		padding: 15px 0 15px 0;

		&.one {
			@include box-shadow(0, 5px, 0, #00AAFF);
			background: #66CCFF;
			color: white;
		}

		&.two {
			@include box-shadow(0, 5px, 0, #FF002B);
			background: #FF6680;
			color: white;
		}

		&.number {
			@include box-shadow(0, 5px, 0, #FFCC66);
			background: white;
			color: black;
		}
	}

	.threes-bot--next-tile {
		position: absolute;
		bottom: 33px;
		left: 25px;

		label {
			color: rgba(white, 0.5);
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			position: absolute;
			bottom: -15px;
			left: 10px;
		}
	}

	.threes-bot--score {
		font-family: "Nunito", sans-serif;
		position: absolute;
		bottom: 16px;
		right: 25px;
		font-size: 27px;
		line-height: 15px;
		letter-spacing: -0.2px;
		color: white;
		text-align: right;

		label {
			color: rgba(white, 0.5);
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 0.5px;
		}
	}

	.threes-bot--reset-btn {
		position: absolute;
		bottom: 70px;
		right: 25px;
	}

	.threes-bot--bot-cable {
		position: absolute;
		top: 415px;
    right: 450px;
		z-index: 2;
	}

	.threes-bot--monitor {
		position: absolute;
		top: 48px;
		right: 0px;
		width: 450px;
		height: 400px;
		padding: 20px;

		> * {
			z-index: 2;
		}
	}

	.threes-bot--terminal {
		position: absolute;
		top: 18px;
		left: 57px;
		bottom: 98px;
		right: 16px;
	}

	.threes-bot--monitor-body {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 1;
	}

	.threes-bot--manual {
		position: absolute;
		top: 28px;
		left: 67px;
		bottom: 108px;
		right: 26px;
		font-size: 12px;
	}

	.threes-bot--manual-toggle {
		position: absolute;
		bottom: 50px;
    left: 131px;
		color: rgba(white, 0.7);
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
		background: rgba(white, 0.1);
		padding: 1px 3px;
		cursor: pointer;

		&:hover {
			color: rgba(white, 0.9);
			background: rgba(white, 0.3);
		}
	}

	.threes-bot--test-btn {
		position: absolute;
		bottom: -18px;
		left: 40px;
	}

	.threes-bot--analyze-btn {
		position: absolute;
		bottom: -18px;
		right: 0px;
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	.threes-bot--home {
		width: 100%;
		margin-top: 140px;
		height: 1000px;

		.threes-bot--share-btn {
			position: absolute;
			top: -170px;
			right: 30px;
		}

		.threes-bot--bot {
			position: relative;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			width: 300px;
			margin: 0 auto;
		}

		.threes-bot--monitor {
			position: relative;
			top: 40px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			padding: 0px;
			height: 400px;
		}

		.threes-bot--monitor-body {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}

		.threes-bot--terminal {
			position: absolute;
			top: 38px;
			left: 15px;
			bottom: 73px;
			right: 14px;
		}

		.threes-bot--bot-cable {
			display: none;
		}

		.threes-bot--test-btn {
			position: absolute;
			top: -20px;
			bottom: auto;
			left: 0px;
		}

		.threes-bot--manual-toggle {
			position: absolute;
			bottom: 31px;
    	left: 86px;
		}

		.threes-bot--manual {
			position: absolute;
			top: 45px;
			left: 37px;
			right: 26px;
			font-size: 11px;
		}
	}
}
