<div class="threes-bot--algorithm" ng-if="algorithm">
	<div class="threes-bot--share-btn threes-bot--btn twitter" ng-click="tweet()">
		<img src="/images/twitter.svg">
		<span>Tweet</span>
	</div>
	<div class="threes-bot--report">
		<div class="threes-bot--report-pending" ng-show="isPending()">Processing...</div>
		<div class="threes-bot--report-title">Report</div>
		<div class="threes-bot--report-scores">
			<div class="threes-bot--report-highscore">
				<div>{{getHighScore()}}</div>
				<label>High Score</label>
			</div>
			<div class="threes-bot--report-averagescore">
				<div>{{getAverageScore()}}</div>
				<label>Average Score</label>
			</div>
		</div>
		<div class="threes-bot--report-scores-container">
			<table class="threes-bot--runs" cellpadding="3">
				<thead>
					<tr>
						<th>Test #</th>
						<th>Score</th>
						<th>Moves</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="run in algorithm.runs track by $index">
						<td>{{$index+1}}</td>
						<td>{{run.score}}</td>
						<td>{{run.ticksCount}}</td>
						<td>
							<span class="error" ng-show="run.hasError || run.hitLimit">
								<span ng-show="run.errorType=='timeout'">TIMED OUT</span>
								<span ng-show="run.hitLimit">LIMIT</span>
								<span ng-show="run.errorType!='timeout' && !run.hitLimit">ERROR</span>
							</span>
							<span class="success" ng-show="!run.hasError && !run.hitLimit">OK</span>
						</td>
					</tr>
					<tr ng-show="isPending()">
						<td>{{algorithm.runs.length+1}}</td>
						<td>-</td>
						<td>-</td>
						<td class="pending">PENDING</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="threes-bot--monitor">
		<img class="threes-bot--monitor-body" src="/images/monitor.svg">
		<div ng-hide="showManual" class="threes-bot--terminal" ui-ace="{
			  useWrapMode : false,
			  mode: 'javascript',
			  onLoad: aceLoaded
			}"></div>
		<div class="threes-bot--manual" ng-show="showManual">
			<div>
				Write some JavaScript that will help Threes Bot determine the next move.
				The last statement must equal "LEFT", "RIGHT", "UP", or "DOWN".
				Your code will run in a sandbox, so only the standard JavaScript API will be available.
			</div>
			<br>
			<div>Here are some helpers to assist you:</div>
			<ul>
				<li><b>BOARD</b>: an array of arrays representing the board</li>
				<pre>
[[0, 1, 2, 0],
 [3, 0, 0, 0],
 [0, 0, 0, 1],
 [1, 0, 1, 0]]
				</pre>
				<li><b>NEXT</b>: the next tile (ex. 1)</li>
				<li><b>VALID_MOVES</b>: all valid moves (ex. ["LEFT","UP"])</li>
				<li><b>RANDOM_NUMBER</b>: a random number between 0 - 1 (Math.random())</li>
				<li><b>RANDOM_MOVE</b>: a random valid move (ex. "LEFT")</li>
				<li><b>FREE_SPACES</b>: the number of free spaces on the board (ex. 7)</li>
				<li><b>FREE_SPACES_AFTER_MOVE</b>: the number of free spaces after a <i>valid</i> move is made. (ex. {LEFT: 4, RIGHT: 3, DOWN: 1})</li>
				<li><b>log()</b>: log a message</li>
			</ul>
		</div>
		<div class="threes-bot--manual-toggle" ng-click="showManual=!showManual">
			<span ng-hide="showManual">View Manual</span>
			<span ng-show="showManual">Use Terminal</span>
		</div>
		<div class="threes-bot--readonly">READ ONLY</div>
		<div class="threes-bot--analyze-btn threes-bot--btn green" ng-click="edit()">Copy and Edit</div>
	</div>
</div>
