<div class="threes-bot--home">
	<div class="threes-bot--share-btn threes-bot--btn twitter" ng-click="tweet()">
		<img src="/images/twitter.svg">
		<span>Tweet</span>
	</div>
	<div class="threes-bot--bot">
		<img class="threes-bot--bot-body" src="/images/threesbot.svg">
		<div class="threes-bot--board">
			<div class="threes-bot--board-row" ng-repeat="row in board.tiles track by $index">
				<div class="threes-bot--board-tile" ng-repeat="tile in row track by $index" ng-class="getTileClass(tile)">{{tile}}</div>
			</div>
		</div>
		<div class="threes-bot--next-tile">
			<div class="threes-bot--board-tile" ng-class="getTileClass(tile)">{{board.nextTile}}</div>
			<label>Next</label>
		</div>
		<div class="threes-bot--score">
			<div>{{board.score | number}}</div>
			<label>Score</label>
		</div>
		<div class="threes-bot--last-move">
			<div>{{lastMove}}</div>
			<label>Last Move</label>
		</div>
		<div class="threes-bot--reset-btn threes-bot--btn red" ng-click="reset()">Reset</div>
	</div>
	<img class="threes-bot--bot-cable" src="/images/cable.svg">
	<div class="threes-bot--monitor">
		<img class="threes-bot--monitor-body" src="/images/monitor.svg">
		<div ng-hide="showManual" class="threes-bot--terminal" ui-ace="{
			  useWrapMode : false,
			  mode: 'javascript',
			  onLoad: aceLoaded,
			  onChange: aceChanged
			}"></div>
		<div class="threes-bot--manual" ng-show="showManual">
			<div>
				Write some JavaScript that will help Threes Bot determine the next move.
				The last statement must equal "LEFT", "RIGHT", "UP", or "DOWN".
				Your code will run in a sandbox, so only the standard JavaScript API will be available.
			</div>
			<br>
			<div>Here are some helpers to assist you:</div>
			<ul>
				<li><b>BOARD</b>: an array of arrays representing the board</li>
				<pre>
[[0, 1, 2, 0],
 [3, 0, 0, 0],
 [0, 0, 0, 1],
 [1, 0, 1, 0]]
				</pre>
				<li><b>NEXT</b>: the next tile (ex. 1)</li>
				<li><b>VALID_MOVES</b>: all valid moves (ex. ["LEFT","UP"])</li>
				<li><b>RANDOM_NUMBER</b>: a random number between 0 - 1 (Math.random())</li>
				<li><b>RANDOM_MOVE</b>: a random valid move (ex. "LEFT")</li>
				<li><b>FREE_SPACES</b>: the number of free spaces on the board (ex. 7)</li>
				<li><b>FREE_SPACES_AFTER_MOVE</b>: the number of free spaces after a <i>valid</i> move is made. (ex. {LEFT: 4, RIGHT: 3, DOWN: 1})</li>
				<li><b>log()</b>: log a message</li>
			</ul>
		</div>
		<div class="threes-bot--manual-toggle" ng-click="showManual=!showManual">
			<span ng-hide="showManual">View Manual</span>
			<span ng-show="showManual">Use Terminal</span>
		</div>
		<div class="threes-bot--error" ng-if="error">ERROR!</div>
		<div class="threes-bot--test-btn threes-bot--btn orange" ng-click="test()">Test</div>
		<!--<div class="threes-bot--analyze-btn threes-bot--btn green" ng-click="analyze()">Analyze</div>-->
	</div>
</div>
